body {
  margin: 0%;
}
header {
  display: flex;
  top: 30px;
  text-align: initial;
  word-spacing: normal;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  position: relative;
  width: max-content;
  height: 100px;
  background: #ffffff;
  align-items: center;
  align-content: center;
}
.WebStudio {
  position: initial;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.Studio {
  position: static;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.portofolio {
  position: static;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.contacts {
  position: static;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mail {
  margin-left: 15cm;
  position: static;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.tel {
  position: static;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
main {
  padding: 0%;
  margin: 0%;
  border: 0%;
}
.section {
  display: flex;
  position: inherit;
  width: auto;
  height: 500px;
  background: #2f303a;
}
h1 {
  display: flex;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.details {
  position: static;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.punctuality {
  position: static;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.planning {
  position: static;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.technologies {
  position: static;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text1 {
  position: static;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text2 {
  position: static;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text3 {
  position: static;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text4 {
  position: static;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.services-container {
  display: flex;
  justify-content: space-around;
  gap: inherit;
  row-gap: 3em;
}
.title {
  display: flex;
  position: static;
  width: 198px;
  height: 42px;
  left: 701px;
  top: 969px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.crew {
  color: aqua;
}
footer {
  color: pink;
}
