body {
  margin: 0%;
}
header {
  display: flex;
  top: 30px;
  text-align: initial;
  word-spacing: normal;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
  position: relative;
  width: max-content;
  height: 100px;
  background: #ffffff;
  align-items: center;
  align-content: center;
}
.WebStudio {
  position: initial;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.Studio {
  position: static;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.portofolio {
  position: static;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.contacts {
  position: static;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mail {
  margin-left: 15cm;
  position: static;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.tel {
  position: static;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
main {
  padding: 0%;
  margin: 0%;
  border: 0%;
}
.section {
  display: flex;
  position: inherit;
  width: auto;
  height: 500px;
  background: #2f303a;
}
h1 {
  display: flex;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.commitment-container {
  padding-top: 2cm;
  padding-bottom: 3cm;
  display: flex;
  justify-content: space-around;
}
.details {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.punctuality {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.planning {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.technologies {
  width: 270px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text1 {
  width: 270px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text2 {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text3 {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.text4 {
  width: 270px;
  height: 75px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.services-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
p {
  position: absolute;
  margin: initial;
  width: 198px;
  height: 42px;
  left: 701px;
  top: 800px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.imgs {
  justify-content: flex-start;
  margin: initial;
  padding-left: initial;
  gap: 20px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}
.crew-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
h4 {
  margin: initial;
  position: absolute;
  width: 165px;
  height: 42px;
  left: 718px;
  top: -1cm;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.staff {
  justify-content: flex-start;
  margin: initial;
  padding-top: 2cm;
  padding-left: initial;
  gap: 20px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex-direction: row;
}
.chris {
  list-style: none;
  margin: initial;
  padding-left: initial;
  width: 270px;
  height: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.kylie {
  list-style: none;
  margin: initial;
  padding-left: initial;
  width: 270px;
  height: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.ryan {
  list-style: none;
  margin: initial;
  padding-left: initial;
  width: 270px;
  height: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.tyler {
  list-style: none;
  margin: initial;
  padding-left: initial;
  width: 270px;
  height: 260px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.footer-container {
  color: #ffffff;
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.address-link {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.street {
  position: absolute;
  width: 207px;
  height: 16px;
  left: 215px;
  top: 2cm;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.location {
  position: absolute;
  width: 207px;
  height: 16px;
  left: 215px;
  top: 2cm;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact {
  padding: initial;
  list-style: none;
  position: absolute;
  width: 207px;
  height: 16px;
}
.email {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.phone {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
